/* You can add global styles to this file, and also import other style files */
* { box-sizing: border-box; font-family: 'Lato', Roboto, "Helvetica Neue", sans-serif; } // Required otherwise grid will overflow when padding is added.
html, body { height: 100%; }
body { margin: 0;  }
